* {
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  margin: 15px 30px;
  font-size: 17px;
  padding: 8px;
  background: linear-gradient(to right, grey, white);
}

.whole {
  background: transparent;
  padding: 10px;
  border: 3px solid black;
  border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #000;
  border-radius: 5px;
}

input[type="radio"] {
  padding: 10%;
}

h1,
h2 {
  font-family: "Courier New", Courier, monospace;
  color: #000;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
h1 {
  font-size: 58px;
  text-decoration: underline;
}
p {
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}

input[type="submit"] {
  align-self: center;
  border: 2px solid white;
  background-color: black;
  padding: 15px 30px;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
}
input[type="submit"]:hover {
  background: #f4f4f4;
  border-color: black;
  color: black;
}
.flex {
  display: flex;
  flex-direction: column;
  align-content: center;
}
